@use 'base/variables' as v;
@use 'base/mixins' as m;

.viajes {
    background-image: url('../../img/portada.jpg');
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__barra {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2 0rem;

        @include m.tablet {
            flex-direction: row;

            justify-content: space-between;
            padding: 2rem 0;
        }

        &__logo {
            width: 200px;
            @include m.tablet {

            }

        }

        &__menu {
            text-transform: uppercase;
            font-size: 2rem;

            a {
                padding: 0 2rem;

            }

           

        }

        &__login {
            width: 200px;
            // background-color: v.$primario;
            // border-radius: 1rem;
            text-align: center;

        }


    }
}